<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <h1>List of Categories</h1>
    <ul>
        {% for category in categories %}
            <li>
                <h2>{{ category.name }}</h2>
                <ul>
                    {% for product in category.product_set.all %}
                        <li>{{ product.name }} - {{ product.description }} - ${{ product.price }}</li>
                    {% empty %}
                        <li>No products available</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No categories available</li>
        {% endfor %}
    </ul>
</body>
</html>
